<title>Success</title>
<style type="text/css">
*{
font-family:arial, sans-serif;
}
.clear {
    clear: both;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid #7885bf;
    padding: 10px;
}
#wrapper {
	width: 663px;
    padding: 0px;
}
#logo {
    content:url("logo.png");
    width: 663px;
}
#message {
 float: left;
 margin-top: 20px;
 margin-left: 20px;
 margin-bottom: 15px;
}
.label {
 float: left;
 margin-bottom: 10px;
 margin-left: 20px;
 font-size: 20px;
}
.bold {
 font-weight: bold;
 color: #5b68a7;
}
#homeButton {
 float: right;
font-size: 15px;
background: none;
border: none;
font-size: 25px;
font-weight: bold;
margin-bottom: 25px;
margin-right: 20px;
cursor: pointer;
text-decoration: none;
}
</style>
<div id="wrapper" class="center">
    <div id="logo"></div>
    <div class="clear"></div>
    <span id="message"><%= message %></span>
    <div class="clear"></div>
	<span class="label">Hey <span class="bold"><%= name %></span>, you are now registered :)</span>
	<div class="clear"></div>
	<a id="homeButton" href="/?sort=<%= sort %>">Back!</a>
    <div class="clear"></div>
</div>